*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding: 20px 0;
}
.menu-list {
    display: flex;
}

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    color: #22262A;

}
.menu-list_item {
    list-style: none;
    margin-right: 20px;
}

.menu-link {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 27px;
    color: #22262A;
}

.fa-heart {
    margin: 0 20px;
}

#hero {
    background: url("../Image/heroImages/heroBg.png");
    min-height: 745px;
}

.hero-item {
    position: relative;
    min-height: 745px;
}

.hero-item_content {
    position: absolute;
    right: 230px;
    bottom: 100px;
}

.new-trand {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}
.hero-title {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
    color: #22262A;
}
.hero-description {
    display: block;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}

.hero-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #22262A;
    padding: 5px 30px;
    margin-right: 35px;
}

#category {
    padding-top: 120px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;

}

.category-image-men {
    width: 100%;
}
#category .row {
    margin: 0 -15px;
}

.female-img {
    display: flex;
    margin: 20px -12px 0 -12px;
}

.female-img_col-6 {
    width: 50%;
    padding: 0 12px;
}
.category-image-women {
    width: 100%;
}

.category-name_box {
    background: #00000050 url("../Image/category/categoryNameBg.png");
    background-blend-mode: darken;
    position: relative;
    height: 570px;
    top: -4px;
}

.category-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
    background: #FFFFFF;
    padding: 5px 25px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

#womens,  #mens {
    padding-top: 115px;
}

.womens-title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #22262A;
}

.womens-desc {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
    margin-bottom: 65px;
}

#womens .row {
    margin: 0 -10px;
}

.col-3 {
    width: 25%;
    padding: 0 10px;
}
.womens-catalog_img {
    width: 100%;
}

.womens-product_desc {
    margin-top: 40px;
}

.product-item_desc {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.product-item_title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.product_pricing {
    width: 145px;
    display: flex;
    justify-content: space-between;
}

.old-price {
    font-style: normal;
    font-weight: normal;
    text-decoration: line-through;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.new-price {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #d62b14;
}

#tachen {
    background: url("../Image/tachen-img/girlsBg.png");
    min-height: 745px;


}

.girls {
    position: relative;
    min-height: 745px;
}

.girls-item-content {
    position: absolute;
    left: 230px;
    bottom: 129px;
}

.own-the-day {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}

.tachen-19 {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
    color: #22262A;
}

.shop-collection {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #22262A;
    padding: 4px 25px;
}


#footer {
    padding-top: 115px;
    padding-bottom: 106px;
    background: #F2F8FC;
}

.footer1-col-6 {
    width: 406px;
    height: 385px;
}

.your-logo {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #22262A;
    padding-bottom: 17px;
}

.content {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    word-wrap: break-word;
}

.comilla {
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 16px;
}

.location {
    width: 15px;
    height: 15px;
}

.bangladesh {
    height: 15px;
}

.email {
    border-bottom: black solid 1px;
}

.number {
    padding-top: 4px;
    padding-bottom: 16px;
}

.footer-icon {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}

.footer2-col-6 {
    width: 532px;
    height: 385px;
}

.updates {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #22262A;
    padding-bottom: 24px;
}

.email-address {
    width: 532px;
    height: 45px;
    left: 831px;
    top: 4954px;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 11px 11px 24px;
    margin-bottom: 70px;
}

ul li {
    list-style-type: none;
}

.list {
    display: flex;
    justify-content: space-between;
}

.first-li {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;
    padding-bottom: 27px;
}

.li-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    padding-bottom: 21px;
}

#ending {
    background: #E7F5F8;
}

.end {
    width: 1592px;
    height: 93px;
    padding: 35px 573px 35px 577px;
}

.end-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}